In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
import pickle
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./insurance.csv')

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [6]:
le_s = LabelEncoder()
df['sex'] = le_s.fit_transform(df['sex'])
with open('le_s.pickle','wb')as f : 
    pickle.dump(le_s,f)

In [7]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [8]:
le_sm = LabelEncoder()
df['smoker'] = le_sm.fit_transform(df['smoker'])
with open('le_sm.pickle','wb')as f : 
    pickle.dump(le_sm,f)

In [9]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [10]:
le_r = LabelEncoder()
df['region'] = le_r.fit_transform(df['region'])
with open('le_r.pickle','wb')as f : 
    pickle.dump(le_r,f)

In [11]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [12]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [13]:
X_train ,X_test , y_train , y_test = train_test_split(X,y,random_state=42,test_size=0.2)

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
rf = RandomForestRegressor(n_estimators=100,max_depth=7, random_state=33)

In [16]:
rf.fit(X_train ,y_train)

RandomForestRegressor(max_depth=7, random_state=33)

In [17]:
rf.score(X_test,y_test)

0.8702886247209772

In [18]:
with open('model.pickel','wb') as f : 
    pickle.dump(rf,f)